body{
	background-color: black;
	display: inline-block;
}
img{
	display: inline-block;
	width: 100%;
	
}
button{
	background: black;
	color: white;
	border: 0;
	display: inline-block;
	width: 100px;
	box-shadow: 1px 1px 0px;
	margin: 10px 10px 10px 520px;
}
.description{
	color:black;
	
}
.odessa{
	width: 250px;
	height: 250px;
	display: inline-block;
	padding: 20px;
}